body{
    margin:0;
    padding:0;
}

/*aqui crea los estilos*/
/*estilos pantalla 4*/

#screen-4{
	div.row{
		div .col{
			div.input-field{
				img{
					width: 27px;
					margin-top: 10px;
				}
			}
			p{
				font-weight:400;
				font-size:18px;
				color:$gris-soft;
			}
		}
	}
}
#first-box{
	.img-centro{
		width: 125px;
		margin-top: 27px;
	}
	#cinco{
		font-weight:500;
	}
	p{
		font-size: 17px;
		color:$gris-soft;
	}
}
#crear{
	text-transform:uppercase;
	border-radius: 5%;
}
.correct{
	background-color:$amarillo-botones;
}


/*fin estilos pantalla 4*/

/*fin estilos pantalla 4*/


#phone {
  background: url('../img/icon/teelefono.png');
  background-repeat: no-repeat;
  background-size: 70px 30px;
  background-position: left;
  text-align: center;
}

.header_phone {
  img {
    width: 40%;
    margin-top: 20%;
  }

  &__title {
    font-weight: bold;
    font-size: 1.7em;
  }

  &__subtitle {
    color: #DFDFDF;
  }

}

#phone_button {
  background: #FBD43B;
  margin-top: 10%;
}

.input-field.col label {
    width: 100%;
    top: -1.2em;
    left: initial;
  }

